.project-list-card {
  background-color: #EDEDED;
  box-shadow: 1.5rem 1.5rem 1rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 8px;
  margin: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .project-list-title {
    svg {
      fill: $fg-color;
    }

    h1 {
      font-family: $heading-font-family;
      color: $fg-color;
      font-weight: 700;
      margin: 0 2rem 0 0;
      font-size: 2rem;
      line-height: 2.5rem;
      @media only screen and (max-width : 768px) {
        font-size: 1.8rem;
        line-height: 1.8rem;
      }
    }

    p {
      color: $fg-color;
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 1.0rem 0 1.0rem 0;
    }
  
    a {
      font-weight: 300;
      color: $fg-color;
      text-decoration: none;
      transition: all .25s ease-in;
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .project-list-description {
    p {
      color: $fg-color;
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 1.0rem 0 1.0rem 0;
    }
  }
  .project-list-stats {
    svg {
      fill: $fg-color;
      position: relative;
      top: 0.5rem;
      margin-left: 1.5rem;
      margin-right: 0.3rem;
    }
  }
  .repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
    top: 0.3rem;
    margin-right: 0.3rem;
  }

}

.project-list-card:hover {
  box-shadow: 2rem 2rem 1rem 0 rgba(0,0,0,0.4);
}

.project-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}