@mixin project_list_dark {
  .project-list-card{
    background-color: #333333;
    color: $fg-color-dark;
    svg {
      fill: $fg-color-dark;
    }

    .project-list-title {
      a {
        font-weight: 300;
        color: $fg-color-dark;
        text-decoration: none;
         transition: all .25s ease-in;
        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
      h1 {
        color: $alt-fg-color-dark;
      }
      p {
        color: $alt-fg-color-dark;
      }
    }
  }

  .project-list-description{
    p {
      color: $alt-fg-color-dark;
    }
  }

  .project-list-card:hover {
    box-shadow: 2.5rem 2.5rem 1rem 0 rgba(0,0,0,0.4);
  }
}

body.colorscheme-dark {
  @include project_list_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include project_list_dark()
  }
}
