<div class="about">
  <div class="about-left">
    {{ with .Params.headshot }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar" class="avatar"></div>
    {{ end }}
    {{ with .Params.social }}
      <ul>
        {{ range sort . "weight" }}
          {{ if .icon }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }} style="margin-left: 1.5rem; margin-right: 1.5rem">
                <i class="{{ .icon }}" aria-hidden="true"></i>
              </a>
            </li>
          {{ else }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </div>
  <div class="about-right">
    {{ .Content }}
  </div>  
</div>
