<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarURL }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <div style="display: inline">
      <div style="display: inline-block">
        <h2>&gt;</h2>
      </div>
      <div id="typewriter" style="display: inline-block">
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script type="text/javascript">
          const typewriter = new Typewriter('#typewriter', {
            cursor: "<h2 style='display: inline'>&#x258c;</h2>",
          });
      
          typewriter.typeString("<h2 style='display: inline'>{{ .Site.Params.info }} </h2>")
            .callFunction(() => {
              console.log('String typed out!');
            })
            .pauseFor(2500)
            .callFunction(() => {
              console.log('All strings were deleted');
            })
            .start();
        </script>
      </div>
    </div>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
