<section class="container list">
  <h1 class="title">
    {{- if eq .Kind "term" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    {{- .Title -}}
  </h1>
  {{ .Content }}
  {{ if and (isset .Params "project_cards") (eq .Params.project_cards true) }}
    <div class="project-grid">
      {{ range .Paginator.Pages }}
        <div class="project-card">
          <div class="project-title">
            {{ if (isset .Params "gh_repo") }}
              <a href={{ .Params.gh_repo }} target="_blank">
                <h1><svg style="padding-right: 5px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"><path fill-rule="evenodd" d="M3 2.75A2.75 2.75 0 015.75 0h14.5a.75.75 0 01.75.75v20.5a.75.75 0 01-.75.75h-6a.75.75 0 010-1.5h5.25v-4H6A1.5 1.5 0 004.5 18v.75c0 .716.43 1.334 1.05 1.605a.75.75 0 01-.6 1.374A3.25 3.25 0 013 18.75v-16zM19.5 1.5V15H6c-.546 0-1.059.146-1.5.401V2.75c0-.69.56-1.25 1.25-1.25H19.5z"></path><path d="M7 18.25a.25.25 0 01.25-.25h5a.25.25 0 01.25.25v5.01a.25.25 0 01-.397.201l-2.206-1.604a.25.25 0 00-.294 0L7.397 23.46a.25.25 0 01-.397-.2v-5.01z"></path></svg> {{ .Title }}</h1>
              </a>
            {{ else }}
              {{ if (isset .Params "project_link") }}
                <a href={{ .Params.project_link }} target="_blank">
                  <h1><svg style="padding-right: 5px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"><path fill-rule="evenodd" d="M3 2.75A2.75 2.75 0 015.75 0h14.5a.75.75 0 01.75.75v20.5a.75.75 0 01-.75.75h-6a.75.75 0 010-1.5h5.25v-4H6A1.5 1.5 0 004.5 18v.75c0 .716.43 1.334 1.05 1.605a.75.75 0 01-.6 1.374A3.25 3.25 0 013 18.75v-16zM19.5 1.5V15H6c-.546 0-1.059.146-1.5.401V2.75c0-.69.56-1.25 1.25-1.25H19.5z"></path><path d="M7 18.25a.25.25 0 01.25-.25h5a.25.25 0 01.25.25v5.01a.25.25 0 01-.397.201l-2.206-1.604a.25.25 0 00-.294 0L7.397 23.46a.25.25 0 01-.397-.2v-5.01z"></path></svg> {{ .Title }}</h1>
                </a>
              {{ else }}
                <h1><svg style="padding-right: 5px; vertical-align:middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"><path fill-rule="evenodd" d="M3 2.75A2.75 2.75 0 015.75 0h14.5a.75.75 0 01.75.75v20.5a.75.75 0 01-.75.75h-6a.75.75 0 010-1.5h5.25v-4H6A1.5 1.5 0 004.5 18v.75c0 .716.43 1.334 1.05 1.605a.75.75 0 01-.6 1.374A3.25 3.25 0 013 18.75v-16zM19.5 1.5V15H6c-.546 0-1.059.146-1.5.401V2.75c0-.69.56-1.25 1.25-1.25H19.5z"></path><path d="M7 18.25a.25.25 0 01.25-.25h5a.25.25 0 01.25.25v5.01a.25.25 0 01-.397.201l-2.206-1.604a.25.25 0 00-.294 0L7.397 23.46a.25.25 0 01-.397-.2v-5.01z"></path></svg> {{ .Title }}</h1>
              {{ end }}
            {{ end }}
            <i><p>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</p></i>
          </div>
          <div class="project-description">
            {{ if (isset .Params "description") }}
              <p>{{ .Params.description | truncate 120 }}</p>
              <a style="text-align: right; float: right;" href="{{ .Params.externalLink | default .RelPermalink }}">Read More</a>
            {{ else }}
              <p>{{ .Summary | truncate (index .Params "summary_length" | default 120) }}
              <a href="{{ .Params.externalLink | default .RelPermalink }}">Read More</a>
              </p>
            {{ end }}
          </div>
          <div class="project-stats">
            {{ if (isset .Params "gh_repo") }}
              {{ $repo_path := urls.Parse .Params.gh_repo }}
              {{ $repo_data := getJSON "https://api.github.com/" "repos" $repo_path.Path }}
              {{ $color := (index .Site.Data.language_colors $repo_data.language).color }}
              <span class="repo-language-color" style="background-color:{{ $color }}"></span>
              <span> {{ $repo_data.language }} </span>
              <a href={{ .Params.gh_repo }} target="_blank">
                <span><svg viewBox="0 0 14 16" version="1.1" width="2rem" height="2rem" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg></span>
                <span> {{ $repo_data.stargazers_count }} </span>
              </a>
            {{ else }}
              {{ if (isset .Params "language") }}
                {{ $language := .Params.language }}
                {{ $color := (index .Site.Data.language_colors $language).color }}
                <span class="repo-language-color" style="background-color:{{ $color }}"></span>
                <span> {{ $language }} </span>
              {{ end }}
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  {{ else }}
    <ul>
      {{ range .Paginator.Pages }}
      <li>
        <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  {{ end }}
</section>
  
